<header>
    <nav>
        <ul>

            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <header id="#top">
        <h1>Enquete</h1>
        <h2>Web Development</h2>
    </header>
</header>