<p>Final results</p>

<span id="shirt"><img src="/images/shirt.png"
        alt="a {{res.color}} shirt containing the text: {{res.shirttext}} in the size {{res.size}} ">
    <p>{{{res.shirttext}}}</p>
</span>
<p>First Name: {{res.firstName}}</p>
<p>Last Name: {{res.lastName}}</p>

<br>
<p>Favoriete Code {{res.code}}</p>
<br>

<a href="{{url}}">Edit</a>
<button>Confirm</button>