/*
* Typography
*/

html {
  background-image: url(/docs/img/background.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

header {
  color: white;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #777;
  width: 100%;
  margin: auto;
}

/* 
* Form
*/

form {
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 30px;
}

form fieldset {
  font-size: 1.5rem;
  text-align: center;
  border-style: none;
}

form fieldset div {
  display: flex;
  flex-direction: column;
}

form fieldset div label {
  text-align: left;
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: 5px;
}

form fieldset div input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  background: #fafafa;
  border: 1px solid transparent;
  color: #777;
  border-radius: 50px;
  font-size: 1rem;
  margin: 10px 0 50px 0;
}

form fieldset div h2 {
  font-size: 1.2rem;
}

form fieldset div input placeholder {
  color: #777;
  font-size: 1em;
  ;

}